<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-flask"></i> Scientific Contributions</h6>
    <ul class="list-unstyled px-3 pb-3 pt-2 mb-0 small">
        <li class="mb-2">
            <div>Contributed talk, APS March Meeting 2022 <span class="text-muted">(co-author)</span></div>
            <div class="text-muted">Presented earlier results of my work on thermal laser epitaxy.</div>
        </li>
        <li class="mb-0">
            <div>Pending patent, Max Planck Institute for Solid State Research <span class="text-muted">(co-inventor)</span></div>
            <div class="text-muted">Includes results of my work on thermal laser epitaxy.</div>
        </li>
    </ul>
</div>
